$footer-height-small: 40px;
$footer-height-large: 40px;
$lightGrey1: #ccc;

$brand-highlight: #fc9911;

html{
	min-height:100%;
}

body{
	background: #222;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

button:focus,
.btn:focus, 
.btn.focus,
.btn:active:focus, 
.btn:active.focus,
.btn.active:focus,
.btn.active.focus{
	outline: none;
	font-weight: bold;
}


// Main Application Container
// Houses All other containers
//
#app-main{
	margin-bottom: $footer-height-small;
	overflow: hidden;
}


// Footer doesn't show up unless items are added
// Fixed to bottom
//
.application__footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background: $lightGrey;
	button{
		border: none;
		background: transparent;
		height: $footer-height-small;
	}
}


// Main Content of the app
// pages etc.
.application__content{
	padding-top: $navbar-height;
	min-height: 200px;
}


// Fixed Bootstrap navbar header 
// 
.application__header{
	[data-nav="user"] .glyphicon{
		@extend .glyphicon-user;
	}
	.navbar-inverse .navbar-nav > li >.active{
		color: #fff;
		> *{
			color: #fff;
		}
	}
}

