
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #fff;
}

h1{
	font-size: 1.75em;
	font-weight: 700;
}


@media(min-width: $screen-sm-min ){
	h1{
		font-size: 2.3em;
	}
}


