<header class="">
	<div class="container">
		<h1>
			{{title}}
		</h1>
	</div>
</header>

<div class="game-container">
	<div class="game-clock row">
		<!-- itemview -->
	</div>

	<div class="game-score row">
		<!-- collectionView -->
	</div>
</div>
