<header class="">
	<div class="container">
		<h1>
			{{title}}
		</h1>
	</div>
</header>

<div class="game-container">

	<div class="game-clock row">
		<div class="clock-display display col-is-6 col-sm-4 col-is-offset-3 col-sm-offset-4">
			<div class="display-wrapper">
				<div class="inner-wrapper">
					<div class="ghost-digits">88:88</div>
					<div class="time digits">1:03</div>
				</div>
			</div>
		</div>
	</div>

	<div class="game-score row">

		{{#each score}}
		<div class="team">
			<span class="team-title">{{@key}}</span>
			<div class="score-display display">
				<div class="display-wrapper">
					<div class="inner-wrapper">
						<div class="ghost-digits">888</div>
						<div class="score digits">{{this}}</div>
					</div>
				</div>
			</div>
			{{#if ../allowEdit}}
			<div class="table controls">
				<div class="td">
					<button type="button" class="btn-minus">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>				
				</div>
				<div class="td">
					<button type="button" class="btn-plus">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>				
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}		

	</div>
</div>
