<div class="row teams-list">
	<!--  -->
</div>
<div class="row">
  <div class="col-xs-12">
		<a class="btn-add-team link">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			 Add a team
		</a>
	</div>
</div>
