{{#if empty}}
<div class="col-sm-6 control-group team-name">
	<label class="control-label">
		Please add some teams.
	</label>
</div>
{{else}}
<div class="col-sm-6 control-group team-name">
	<label class="control-label">
		Team Name {{name}}
		<a class="btn-remove-team link">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
			 remove
		</a>
	</label>
	<input class="form-control" name="name" value="{{name}}" />
</div>
{{/if}}