<div class="dropdown">
  <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		{{#if allowEdit}}
			<li class="btn-edit-profile">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				Edit Details 
			</li>
			<li class="btn-change-pw">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
				Change Password
			</li>	
		{{/if}}	
		{{#if allowDelete }}
			<li class="btn-delete-user">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
				Delete Account
			</li>		
		{{/if}}
  </ul>
</div>