<header class="">
	<div class="container">
		<h1>
			{{firstName}} {{lastName}}
			<span class="small block"> Since {{createdAt }}</span>
		</h1>
	</div>
</header>

<div class="options user-options container col-sm-4">
	<h2>Options</h2>
	<div class="content-section">
		<ul>
		{{#if allowEdit}}
			<li>
				<button  class="btn-edit">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					Edit Details 
				</button>
			</li>
			<li>
				<button  class="btn-change-pw">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
					Change Password
				</button>
			</li>	
		{{/if}}	
		{{#if allowDelete }}
			<li>
				<button class="btn-delete-user">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
					Delete Account
				</button>
			</li>		
		{{/if}}
  	</ul>
	</div>
</div>

<div class="user-details container col-sm-8">
	<h2>Details</h2>
	<form class="content-section">      
		<div class="form-group">
     
      <div class="row">
        <div class="col-sm-6 control-group" >
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" name="firstName"  />
        </div>
        <div class="col-sm-6 control-group" >
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" name="lastName"  />
        </div>
        <div class="col-sm-4 control-group" >
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="userName"  />
        </div>
        <div class="col-sm-8 control-group" >
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email" />
        </div>            
   		</div>

	   	<div class="row">
				<div class="col-sm-3 control-group  pull-right" >
					<button class="btn btn-primary btn-block" type="submit">Create</button>
				</div>            
	   	</div>

    </div>
	</form>
</div>

