
$footer-height-small: 40px;
$footer-height-large: 40px;
$lightGrey1: #ccc;

#app-main{
	margin-bottom: $footer-height-small;
	overflow: hidden;
}

.application__content{
	padding-top: $navbar-height;
	padding-bottom: $footer-height-small;
	min-height: 200px;
}

.application__footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background: #ccc;
	button{
		border: none;
		background: transparent;
		height: $footer-height-small;
	}
}




//
// TABLE STUFF
//
//
.table   { 
	display: table;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.tablerow  {
	display: table-row;
	border: 1px solid $lightGrey1;
	@extend .container-fluid;
	&:nth-child(even){
		background: lighten($lightGrey1, 15%);
	}
	&:hover{
		background: lighten($lightGrey1, 17%);
	}	

	> *{
		padding: 1em;
		border-left: 1px solid $lightGrey1;
		cursor: pointer;
	}
	>.noclick{
		cursor: default;
	}
}


//
//	Collection Lists
//
//
.cb-delete {
	max-width: 3em;
	border: none;
}


//
// FORMS
//
//
form .row{
	margin-top: .5em;
	margin-bottom: .5em;
	&:last-child{
		margin-top: 1em;
	}
}

