$footer-height-small: 40px;
$footer-height-large: 40px;

#app-main{
	margin-bottom: $footer-height-small;
	overflow: hidden;
}

.application__content{
	padding-top: $navbar-height;
	padding-bottom: $footer-height-small;
	min-height: 200px;
}

.application__footer{
	position: fixed;
	bottom: 0;
	background: #ccc;
	button{
		border: none;
		background: transparent;
		height: $footer-height-small;
	}
}