<header class="">
	<div class="container">
		<h1>New User</h1>
	</div>
</header>

<div class="new-user">
	<form class="container">      
		<div class="form-group">
			{{#if errors}}
				<div class="alert alert-warning">
					<ul>
						{{#each errors}}
							<li>{{this}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
			<div class="row">
				<div class="col-sm-4 control-group" >
					<label class="control-label">Username</label>
					<input type="text" class="form-control" name="username"  />
				</div>
			</div> 
			<div class="row">
				<div class="col-sm-6 control-group" >
					<label class="control-label">Email</label>
					<input type="email" class="form-control" name="email" />
				</div>            
			</div>
			<div class="row">
				<div class="col-sm-6 control-group">
					<label class="control-label">Password</label>
					<input type="password" class="form-control" name="password"  />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 control-group">
					<label class="control-label">Confirm</label>
					<input type="password" class="form-control" name="confirm_password"  />
				</div>
			</div>
			<div class="row">
				<div class=" col-sm-3 control-group">
					<button class="btn btn-primary btn-block" type="submit">Create</button>
				</div>
			</div>
		</div>
	</form> 
</div> 
