.application__content .view .collection-tableview .navbar{
  background-color: rgba(#000, .6);
  border-color: $medDkGrey;

  input, button, .btn, button.btn-default{
    background: #333;
    color: #fff;
    border-color: $medDkGrey ;
  }

  input[type="text"]{
    &:focus{
      background: $lightGrey;
      color: $dkGrey;
    }
  }
}