$rowColor: rgba(#222, .7);
$rowColorStripe: lighten($rowColor, 5%);
.collection-tableview {
  table {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    word-wrap: break-word;
    border: 1px solid $rowColor;
    &.links tr {
      cursor: pointer;
    }
    thead td,
    thead tr {
      vertical-align: middle;
      background-color: rgba(#222, 1);
    }
    thead tr th,
    thead tr td {
      border: 1px solid $black;
    }
    .selectCol {
      width: 40px;
    }
    &.striped {
      tbody tr {
        &:nth-child(even) {
          background-color: $rowColorStripe;
        }
      }
    }
    &.links tbody tr {
      background-color: $rowColor;
      color: $white;
      border: none;
      font-weight: normal;
      &:hover {
        background-color: rgba($brand-primary, .7);
      }
    }
    th.sort {
      .sort-icon {
        @extend .right;
        @extend .glyphicon;
        @extend .glyphicon-arrow-down;
        @extend .glyphicon-align-right;
        font-size: .8em;
        color: $brand-primary;
        pointer-events: none;
      }
      &.desc {
        .sort-icon {
          @extend .glyphicon-arrow-up;
        }
      }
    }
  }
}
