//	General CSS Tables
//

.table   { 
	display: table;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	word-wrap: break-word;

	//remove bootstrap's default
	thead{
		tr th{
			border: none;
		}
	}

	.t-row,
	.t-header{
		border: none;
		display: table-row;
		> *{
			display: table-cell;
			padding: .5em 1em;
			margin: .5em 0;
			border-collapse: collapse;
			border: 1px solid $medGrey;
		}
	}

	td, .td{
		/*background: $offWhite;*/
	}
}

/*
   
.table,
table,
tbody{
	tr,
	.t-row span,
	tr td{
		border-color: $lightGrey;
		background: #eee;
		color: #222;
		vertical-align: middle;
		
		&:first-child{
			background: $brand-primary;
			max-width: 2em;
			font-weight: bold;
			color: #fff;
		}
	}
}
*/