.collection-tableview {
  .table {
		&.links .tr {
      cursor: pointer;
    }
    &.links .tbody .tr {
      background: rgba(#111,.5);
      &:hover {
        background-color: rgba($brand-primary, .7);
      }
    }
    .th{
      border-right: 1px solid $medDkGrey;
      &:last-child{
        border: none;
      }
    }
    .th[data-sort]{
    	cursor: pointer;
    }
    .th.sort{
      .sort-icon {
        @extend .right;
        @extend .glyphicon;
        @extend .glyphicon-arrow-down;
        @extend .glyphicon-align-right;
        font-size: .8em;
        color: $brand-primary;
        pointer-events: none;
      }
      &.desc {
        .sort-icon {
          @extend .glyphicon-arrow-up;
        }
      }
    }


    .selectCol, .selectRow, .thead{
    	background: rgba(#111,1);
    	font-weight: bold;
    }

    .selectCol, .selectRow{
    	text-align: center;
    	max-width: .6em;
    	padding: 0;
    }

  }


}
