
//	General CSS Tables
//

.table    { display: table }
.tr       { display: table-row }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { display: table-cell }
.caption  { display: table-caption }


// Table Styling

.table   { 
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	word-wrap: break-word;

	.tr,
	.thead{
		border: none;
		display: table-row;
	}

	.td,
	.th{
		vertical-align: middle;
		padding: .5em 1em;
		margin: .5em 0;
		border-collapse: collapse;
		border: 1px solid $medDkGrey;
	}


	&.border-bottom {
		.td,
		.th{
			border: none;
		}		
		.td{
			border-top: 1px solid $medDkGrey;
		}	
	}


	&.responsive{
		@media (max-width: 480px){
			.tr,
			.td,
			.th{
				display: block;
				width: 100%;
			}

			.tr .td{
				background: rgba($black, .4);
			}
			.tr .td:first-child{
				background: rgba($offWhite, .9);
				color: $dkGrey;
				font-weight: bold;
			}
			.tr{
				margin-bottom: 10px;
			}
		}
	}
}



