.view header{
	background: #151515;
	color: #fff;
	text-align: center;
	width: 900%;
	margin-left: -400%;
	/*min-height: 100px;*/

	h1{
		margin: 0;
		padding: .5em 0;
		.small{
			font-size: .45em;
			font-weight: bold;
		}
		.block{
			display: block;
			line-height: 1.5em;
		}
	}

	@media(min-width: $screen-tablet){
		h1{}
	}
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


.options{
	ul button{
		background: none;
		border: none;
		margin-bottom: 1em;
		padding: 0;
	}
}


.content-section{
	background: rgba(0,0,0,0.3);
	border: 1px solid #444;
	overflow: hidden;
	padding: 1.5em;
}