// pages with fluid containers
.view.container-fluid{
	max-width: $container-desktop;
	.navbar{
		background: $offWhite;
	}
}

// Main title header, hacky way of making it extend 100% of viewport but actually still contained
.view header{
	background: rgba(#151515, .5);
	border-bottom: 1px solid #222;
	color: $white;
	text-align: center;
	width: 900%;
	margin-left: -400%;
	margin-bottom: 2em;
	/*min-height: 100px;*/

	h1{
		margin: 0;
		padding: .5em 0;
		.small{
			font-size: .45em;
			font-weight: bold;
		}
		.block{
			display: block;
			line-height: 1.5em;
		}
	}

	@media(min-width: $screen-tablet){
		h1{}
	}
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a.link, button.link, .link{
	cursor: pointer;
	text-decoration: none;
	&:hover{
		color: #fff;
		opacity: 1;
	}
}

.options{
	ul button{
		text-align: left;
		background: none;
		border: none;
		margin-bottom: .5em;
	}
}


.content-section{
	background: rgba(0,0,0,0.3);
	border: 1px solid $medDkGrey;
	overflow: hidden;
	padding: 1.5em;

	h2, h3, h4{
		border-bottom: 1px solid $medGrey;
		padding-bottom: .5em;
		margin-top: 0;
	}
}
