form .row{
	&:last-child{
		margin-top: 1em;
	}
	.control-group{
		margin-bottom: .5em;
	}
	@media(min-width: $screen-sm-min ){
		.control-group{
			margin-bottom: 1em;
		}
	}
}

// make all text inputs smaller without adding stupid classes
input[type="text"],
input[type="email"]{
	@extend .input-sm;
}

