
.cb-delete {
	max-width: 3em;
	border: none;
}

.table   { 
	display: table;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.tablerow  {
	display: table-row;
	border: 1px solid $lightGrey1;
	@extend .container-fluid;
	&:nth-child(even){
		background: lighten($lightGrey1, 15%);
	}
	&:hover{
		background: lighten($lightGrey1, 17%);
	}	

	> *{
		padding: 1em;
		border-left: 1px solid $lightGrey1;
		cursor: pointer;
	}
	>.noclick{
		cursor: default;
	}
}