$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';  

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
/*@import "./node_modules/compass-mixins/lib/compass";*/

@import './application/styles';