<header class="">
	<div class="container">
		<h1>New User</h1>
	</div>
</header>

<div class="new-user container col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2">
	<div class="">
		<!-- Should this be a container?  seems kind of overzealous on the markup -->
		<div class="col-xs-12">
			<h2>Create Your Account Now!</h2>
			<p>I promise no bullshit will come from supplying your email, this is a no bullshit app.</p>
		</div>
	</div>
	<form class="content-section">  
	{{#if success}}
		<h2>Thanks for Joining!</h2>
		<p>After you log in you can go start a new game or series. </p>
		<p><a class="btn btn-primary" href="#login">log in now</a></p>
	{{else}}    
		<div class="form-group">			
      <div class="row">
        <div class="col-sm-4 control-group" >
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username"  />
        </div>
        <div class="col-sm-8 control-group" >
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email" />
        </div>            
        <div class="col-sm-6 control-group" >
            <label class="control-label">Password</label>
            <input type="password" class="form-control" name="password"/>
        </div>            
        <div class="col-sm-6 control-group" >
            <label class="control-label">Confirm</label>
            <input type="password" class="form-control" name="password_confirm" />
        </div>            
   		</div>

			<div class="row">
				{{#if errors}}
				<div class=" col-sm-12 control-group">
					<div class="alert alert-warning">
						<ul>
							{{#each errors}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
				{{/if}}
				<div class=" col-sm-3 control-group">
					<button class="btn btn-primary btn-block" type="submit">Create</button>
				</div>
			</div>
		</div>
	{{/if}}
	</form> 
</div> 
