<h2>Confirm Removal</h2>

<div class="form-group content-section">
 
  <div class="row">
    <div class="col-xs-12">
	    <h4>Dang!</h4>
	    <p>
	    	Hate to see you leave, but it's cool. Your account will no longer be active, however your previous games will still be viewable to the public.
	    </p>
	    <p>
	    	After clicking confirm, you will get one last email stating as much.
	    </p>
		</div>
	</div>
	<br>
 	<div class="row">
		<div class="col-sm-4 col-md-3 control-group  pull-right" >
			<button class="btn btn-primary btn-block" type="submit">Confirm!</button>
		</div>            
 	</div>

</div>
