<h2>Your Details</h2>
<form>

	<div class="form-group content-section">
	  <div class="row">
	    <div class="col-sm-6 control-group" >
	        <label class="control-label">First Name</label>
	        <div class="form-control">{{firstName}}</div>
	    </div>
	    <div class="col-sm-6 control-group" >
	        <label class="control-label">Last Name</label>
	        <div class="form-control">{{lastName}}</div>
	     </div>
	    <div class="col-sm-12 col-md-4 control-group" >
	        <label class="control-label">Username</label>
	        <div class="form-control">{{username}}</div>
	    </div>
	    <div class="col-sm-12 col-md-8 control-group" >
	        <label class="control-label">Email</label>
	        <div class="form-control" >{{email}}</div>
	    </div>            
		</div>
	</div>

</form>
