<div id="usersTable" class="table links ">
  <div class="thead">
    <div class="td hidden-xs selectCol">
        <input class="selectAll" type="checkbox" value="">
    </div>
    <div class="td" data-sort="username" >Username <span class="sort-icon"></span></div>
    <div class="td hidden-xs" data-sort="createdAt">Created <span class="sort-icon"></span></div>
    <div class="td" data-sort="firstName">First Name <span class="sort-icon"></span></div>
    <div class="td" data-sort="lastName">Last Name <span class="sort-icon"></span></div>
  </div>
  <div class="tbody"></div>
</div>
