<div class="td hidden-xs selectRow noclick">
    <input class="select-row noclick" type="checkbox" value="">
</div>
<div class="td">{{username}}</div>
<div class="td hidden-xs">{{createdAt}}</div>
<div class="td">{{firstName}}</div>
<div class="td">{{lastName}}</div>
