<div class="td hidden-xs selectRow noclick">
    <input class="select-row noclick" type="checkbox" value="5499c3b2903eaa9c69000003">
</div>
<div class="td">{{username}}</div>
<div class="td hidden-xs">{{createdAt}}</div>
<div class="td">{{firstName}}</div>
<div class="td">{{lastName}}</div>
