{{#if admin}}
<div class="td selectRow noclick">
    <input class="select-row noclick" type="checkbox" value="" tabindex="0">
</div>
{{/if}}
<div class="td" tabindex="0">{{title}}</div>
<div class="td hidden-xs">{{createdAt}}</div>
