<table id="usersTable" class="table links striped">
    <thead>
        <tr>
            <td class="selectCol">
                <input class="selectAll" type="checkbox" value="">
            </td>
            <th data-sort="username" >Username <span class="sort-icon"></span></th>
            <th data-sort="createdAt">Created <span class="sort-icon"></span></th>
            <th data-sort="firstName">First Name <span class="sort-icon"></span></th>
            <th data-sort="lastName">Last Name <span class="sort-icon"></span></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
