<td class="selectRow noclick">
    <input class="select-row noclick" type="checkbox" value="5499c3b2903eaa9c69000003">
</td>
<td>{{username}}</td>
<td>{{createdAt}}</td>
<td>{{firstName}}</td>
<td>{{lastName}}</td>
