<header class="">
	<div class="container">
		<h1>Users</h1>
	</div>
</header>

<div class="collection-tableview">
	<nav class=" navbar">
	  <div class="container-fluid">
	      
	      <form class="navbar-form form-inline navbar-right" role="search">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-sm btn-default" type="button">Go!</button>
				      </span>
				    </div><!-- /input-group -->        
	      </form>

			  <button type="button" class="btn-new-user btn btn-default navbar-btn btn-sm">
			  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			  	New User
			  </button>
			  
			  <button type="button" class="btn-delete btn btn-default  navbar-btn btn-sm">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
					Delete User
			  </button>
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="users__list"></div>
</div>