<div class="application__header row"></div>
<div class="application__content row"></div>
<div class="application__footer row"></div>
<div class="application__flashes row"></div>
<div class="application__overlay row"></div>
