<div class="form-group">
 
  <div class="row">
    <div class="col-sm-6 control-group" >
        <label class="control-label">First Name</label>
        <input type="text" class="form-control" name="firstName"  />
    </div>
    <div class="col-sm-6 control-group" >
        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" name="lastName"  />
    </div>
    <div class="col-sm-4 control-group" >
        <label class="control-label">Username</label>
        <input type="text" class="form-control" name="userName"  />
    </div>
    <div class="col-sm-8 control-group" >
        <label class="control-label">Email</label>
        <input type="email" class="form-control" name="email" />
    </div>            
		</div>

 	<div class="row">
		<div class="col-sm-3 control-group  pull-right" >
			<button class="btn btn-primary btn-block" type="submit">Create</button>
		</div>            
 	</div>

</div>
