<header class="">
	<div class="container">
		<h1>Log In</h1>
	</div>
</header>

<div class="log-in container col-sm-6 col-sm-offset-3 col-md-4  col-md-offset-4">
	
	<div class="">
		<!-- Should this be a container?  seems kind of overzealous on the markup -->
		<div class="col-xs-12">
			<h2>Welcome Back!</h2>
		</div>
	</div>

	<form class="content-section">      
		<div class="form-group">			
      <div class="row">
        <div class="col-xs-12 control-group" >
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="username" />
        </div>
        <div class="col-xs-12 control-group" >
            <label class="control-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
        </div>            
   		</div>
			<div class="row">
						{{#if errors}}
				<div class=" col-sm-12 control-group">
					<div class="alert alert-warning">
						<ul>
							{{#each errors}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			{{/if}}
				<div class=" col-sm-6 control-group">
					<button class="btn btn-primary btn-block" type="submit">Log In</button>
				</div>
				<div class="col-sm-12">
						<a href="#forgotpassword">Actually, I forgot my password...</a></div>
				</div>
			</div>
		</div>
	</form> 
</div> 
